#transformDiv{
	width: 100px;
	height: 100px;
	background: black;
	margin: 40px;
	transform: matrix(1, 0.5, 0.5, 1, 50, 10); /* x-scale, x-skew, y-skew, y-scale, x-translate, y-translate */
	-webkit-transform: matrix(1, 0.5, 0.5, 1, 50, 10);    /*  */
}


#flipCards{
	width: 560px;
	height: 300px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin: auto;
}

.flipCard{
	width: 240px;
	height: 240px;
	margin: 20px;
	border-radius: 20px;
	float:left;
	background:#ccf2ff;
}

.front{
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background-color: #e580ff;
	border: 4px solid #cc00ff;
	backface-visibility: hidden;
	transition: transform 2s linear 0s;
	
	/* For non supporting browsers*/
	-webkit-backface-visibility: hidden;
	transition: -webkit-transform 2s linear 0s;
}

#front1{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

#front2{
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
}

.back{
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background-color: #80ffaa;
	border: 4px solid #00e64d;
	backface-visibility: hidden;
	transition: transform 2s linear 0s;
	
	-webkit-backface-visibility: hidden;
	transition: -webkit-transform 2s linear 0s;
}

#back1{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

#back2{
	transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}

.content {
	text-align: center;
	margin-top: 35%;
	margin-left: 10%;
	margin-right: 10%;
	font-family: 'Courier New';
}

#flipCard1:hover > #front1{
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

#flipCard1:hover > #back1{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}


